{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="main-container-community">
        <div id="community-container-main">
            <div>
                <div class="row" id="comm-caption">
                    <h1>List of Communities</h1>
                </div>

                <div class="row comms-container">
                    {% for comm in comms%}
                        <a href="{% url 'community_view' comm.slug %}"><li>/{{comm}}</li></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
