{% extends 'base.html' %}

{% block content %}

<h1>{{thread.title}}</h1>
<h1>{{thread.content}}</h1>
<h1>{{thread.user}}</h1>
<br>
<br>



<form method = "POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% for comments in comments%}
    <h2>{{comments.content}}</h2>
    <h4> by {{comments.user}} </h4>
    <h5>when: {{comments.date}}</h5>
    {{comments.reply}}
        {% for reply in comments.reply.all%}

            <h3>{{reply}}</h3>
        {% endfor %}
    <br>
    <br>
    <br>
{% endfor %}

{% endblock %}