{% extends 'base.html' %}

{% block content %}

<div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password1" placeholder="Password" />
        <input type="password" name="password2" placeholder="Retype password" />
        <input type="text" name="email" placeholder="E-mail" />

        
        <input type="submit" name="signup_submit" value="Sign me up" />
      </form>
      {% for message in messages %}
        <h2> {{ message }} </h2>  
      {% endfor %}
    </div> 
</div>

{% endblock %}
    